{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- about breadcrumb -->
<section class="w3l-about-breadcrumb text-left">
  <div class="breadcrumb-bg breadcrumb-bg-about py-sm-5 py-4">
    <div class="container">
      <h2 class="title">Thank you !!! </h2>
    </div>
  </div>
</section>
<!-- //about breadcrumb -->
<!--  Work gallery section -->
<section class="grids-1 py-5">
    <div class="container mt-5">
        <h2 style="color:green; font-style: italic;"> Bạn đã đặt tour thành công !</h2>
    </div>
</section>


{% endblock content %}