  {% extends 'base.html' %}
  {% load static %}
  {% block content %}

  <!-- about breadcrumb -->
  <section class="w3l-about-breadcrumb text-left">
    <div class="breadcrumb-bg breadcrumb-bg-about py-sm-5 py-4">
      <div class="container">
        <h2 class="title">Tất cả điểm đến </h2>
        <ul class="breadcrumbs-custom-path mt-2">
          <li><a href="{% url 'index' %}">Trang Chủ</a></li>
          <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> Điểm Đến </li>
        </ul>
      </div>
    </div>
  </section>
  <!-- //about breadcrumb -->
  <!--  Work gallery section -->
  <section class="grids-1 py-5">
  
    <div class="grids py-lg-5 py-md-4">
      <div class="container">
        <h3 class="hny-title mb-5">Điểm Đến</h3>
        
        <div class="row">
          {% for d in destinations %}
          <div class="col-lg-4 col-md-4 col-6 mt-md-4 mt-4">
            <div class="column">
              <a href="{{ d.get_absolute_url }}"><img src="{{d.imageURL}}" alt="" class="img-fluid"></a>
              <div class="info">
                <h4><a href="{{ d.get_absolute_url }}">{{ d.name }}</a></h4>
                <div class="dst-btm">
                  <h6 class=""> </h6>
                  <span></span>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}

          {% if is_paginated %}

            {% if page_obj.has_previous %}
              <a class="btn btn-outline-info mb-4" href="?page=1">Trang đầu</a>
              <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Back</a>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
              {% if page_obj.number == num %}
                <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
              {% elif num > page_obj.number|add:'-1' and num < page_obj.number|add:'1' %}
                <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
              {% endif %}
            {% endfor %}

            {% if page_obj.has_next%}
              <a class="btn btn-outline-info mb-4" href="?page={{ page.obj.next_page_number }}">Next</a>
              <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Trang cuối</a>
            {% endif %}

          {% endif %}
        </div>
      </div>
    </div>
  </section>
  <!--  //Work gallery section -->
  <!-- grids block 5 -->

  {% endblock content %}