  {% extends 'base.html' %}
  {% load static %}
  {% block content %}

  <!-- about breadcrumb -->
  <section class="w3l-about-breadcrumb text-left">
    <div class="breadcrumb-bg breadcrumb-bg-about py-sm-5 py-4">
      <div class="container">
        <h2 class="title">Tất cả điểm đến </h2>
        <ul class="breadcrumbs-custom-path mt-2">
          <li><a href="{% url 'index' %}">Trang Chủ</a></li>
          <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> Điểm Đến </li>
        </ul>
      </div>
    </div>
  </section>
  <!-- //about breadcrumb -->
  <!--  Work gallery section -->
  <section class="grids-1 py-5">
  
    <div class="grids py-lg-5 py-md-4">
      <div class="container">
        <h3 class="hny-title mb-5">Điểm Đến</h3>
        <div class="row">
          {% comment %} <div class="col-lg-4 col-md-4 col-6">
            <div class="column">
              <a href="blog-single.html"><img src="assets/images/g1.jpg" alt="" class="img-fluid"></a>
              <div class="info">
                <h4><a href="blog-single.html">Paris</a></h4>
                <p>3Days, 4 Nights </p>
                <div class="dst-btm">
                  <h6 class="">Start From </h6>
                  <span>$1750</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-6 mt-md-0">
            <div class="column">
              <a href="blog-single.html"><img src="assets/images/g2.jpg" alt="" class="img-fluid"></a>
              <div class="info">
                <h4><a href="blog-single.html">Bankok</a></h4>
                <p>3Days, 4 Nights </p>
                <div class="dst-btm">
                  <h6 class="">Start From </h6>
                  <span>$1690</span>
                </div>
              </div>
            </div>
          </div> {% endcomment %}
          {% for d in destinations %}
          <div class="col-lg-4 col-md-4 col-6 mt-md-4 mt-4">
            <div class="column">
              <a href="{{ d.get_absolute_url }}"><img src="{{d.imageURL}}" alt="" class="img-fluid"></a>
              <div class="info">
                <h4><a href="{{ d.get_absolute_url }}">{{ d.name }}</a></h4>
                <div class="dst-btm">
                  <h6 class="">Chỉ từ </h6>
                  <span>$1650</span>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
  <!--  //Work gallery section -->
  <!-- grids block 5 -->

  {% endblock content %}