{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- about breadcrumb -->
<section class="w3l-about-breadcrumb text-left">
  <div class="breadcrumb-bg breadcrumb-bg-about py-sm-5 py-4">
    <div class="container">
      <h2 class="title">Chi tiết tour </h2>
      <ul class="breadcrumbs-custom-path mt-2">
        <li><a href="{% url 'index' %}">Trang Chủ</a></li>
        <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> Tour </li>
        <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> {{tour.departure_place}} ->
          {{tour.destination.name}} </li>
      </ul>
    </div>
  </div>
</section>
<!-- //about breadcrumb -->
<!--  Work gallery section -->
<section class="grids-1 py-5">
  <div class="container mt-3">
    <div class="row">
      <div class="col mb-4">
        <h3>Chi tiết tour du lịch: {{tour.visit_places}}</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6">
        {% for photo in tour.imagetour_set.all %}
        <div class="img-banner mt-1">
          <a href="{{ photo.imageURL }}"><img src="{{ photo.imageURL }}" alt="" style="max-width: 100%;"></a>
        </div>
        {% endfor %}
      </div>
      <div class="col-12 col-md-6">
        <div class="card p-3">
          <div>
            <span>Ngày khởi hành: {{tour.departure_date|date:'d/m/Y'}} </span>
          </div>
          <div class="mt-1">
            <span>Nơi Khởi Hành: {{tour.departure_place}} </span>
          </div>
          <div class="mt-1">
            <span>Số ngày: {{tour.num_days}} </span>
          </div>
          <div class="d-flex justify-content-between">
            <div>
              <p id="price" style="color: red;font-weight: bold;"> {{tour.price}}đ/người</p>
              <span>Số chỗ còn nhận: <span style="color: red;">{{tour.num_seats}}</span></span>
            </div>
          </div>
        </div>
        <div class="card p-2">
          <form action="" method="POST" >
          {% csrf_token %}
            <h4 class="p-2 text-center">Đặt tour ngay</h4>
            <input type="hidden" name="toud-id" value="{{tour.id}}">
            <div class="form-group">
              <input type="text" class="form-control" name="inputName" id="inputName" placeholder="Tên của bạn" required>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="inputPhone" id="inputPhone" placeholder="Số điện thoại" required>
            </div>
            <div class="form-group">
              <input type="email" class="form-control" name="inputEmail" id="inputEmail" placeholder="Email" required>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="inputAddress" id="inputAddress" placeholder="Địa chỉ" required>
            </div>
            <div class="form-group">
              <input type="number" min="1" max="{{tour.num_seats}}" class="form-control" name="inputPeople" id="inputPeople"
                placeholder="Số người" required>
            </div>
            <div class="d-flex justify-content-between">
              <label>Tổng tiền: <span id="total" style="color: red; font-weight: bold"></span></label>
              <button type="submit" class="btn btn-danger ">Đặt tour</button>
            </div>
          </form>
        </div>
        {% comment %} <div class="container" style="background-color: rgb(221, 204, 204);">
          <h4 class="p-3 text-center mt-2">CHƯƠNG TRÌNH TOUR DU LỊCH</h4>
        </div> {% endcomment %}
      </div>
    </div>
  </div>
  <div class="container mt-3">
    <div class="row">
      <div class="col">
        <div class="container" style="background-color: rgb(221, 204, 204);">
          <h4 class="p-3 text-center">LỊCH TRÌNH TOUR</h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        {% for x in tour.schedule_set.all %}
        <div class="container card p-2">
          <h4>Ngày {{ forloop.counter }}</h4>
          <p>{{ x.activity|linebreaks }}</p>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
<!--  //Work gallery section -->
<!-- grids block 5 -->
<script>
  document.getElementById("inputPeople").addEventListener('change', ()=>{
    let a = document.getElementById("price").textContent;
    let b = (a.slice(0,a.indexOf('đ'))).replaceAll(',','');
    let c =  (document.getElementById("inputPeople").value) * b;
    console.log(c);
    document.getElementById("total").innerHTML = Number((parseInt(c)).toFixed(1)).toLocaleString() + 'đ'; 
  });
</script>

{% endblock content %}